<div ng-controller="SurveyController">

</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">There's No Place Like...</div>
    <div class="panel-body">



      <button type="button" id="next" class="btn btn-primary btn-block disabled" ng-click="goNext();">Next >></button>

      <div class="results">
        <div id="mapCanvas"></div>
        <h3 class= "topOne"></h3>
        <h3 class= "topTwo"></h3>
        <h3 class= "topThree"></h3>
      </div>

      
    </div>
  </div>
</div>
