<div ng-controller="SurveyController">

</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">There's No Place Like...</div>
    <div class="panel-body">
      <div class="individualPlace" data-id="{{destinations}}">
        <img src="{{destinations.image}}" alt="">
        <h2>{{destinations.name}}</h2>
      </div>
      <button type="button" id="next" class="btn btn-primary btn-block" ng-click="pickASpot();">Which One Will It Be?</button>



    </div>
  </div>
</div>
