<div ng-controller="SurveyController">

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">There's No Place Like...</div>
    <div class="panel-body">
      <div class="randomPlace" data-id="{{randomSpot.name}}">
        <img src="{{randomSpot.image}}" alt="">
        <a href="#" class="btn btn-lg btn-primary" ng-show="clicked"><h2>{{randomSpot.name}}</h2></a>
      </div>
      <button type="button" id="next" class="btn btn-primary btn-block" ng-click="pickASpot();">Which One Will It Be?</button>


      <!-- // <script type="text/ng-template" id="myModalContent.html"> -->
      <!-- //     <div class="modal-header">
      //         <h3 class="modal-title">I'\m a modal!</h3>
      //     </div>
      //     <div class="modal-body">
      //         <ul>
      //             <li ng-repeat="item in items">
      //                 <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
      //             </li>
      //         </ul>
      //         Selected: <b>{{ selected.item }}</b>
      //     </div>
      //     <div class="modal-footer">
      //         <button class="btn btn-primary" ng-click="ok()">OK</button>
      //         <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      //     </div>
      // </script> -->


      <div id="myModal" class="modal fade" ng-show="clicked">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Confirmation</h4>
                  </div>
                  <div class="modal-body">
                      <p>Do you want to save changes you made to document before closing?</p>
                      <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
              </div>
          </div>
      </div>




    </div>
  </div>
</div>
</div>
