<div ng-controller="MyMapController">
<script type="text/ng-template" id="searchbox.tpl.html">
  <input type="text" placeholder="Where do you want to go?" size="50" style="font-size: 16px; margin-top: 10px;">
</script>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="TOP_LEFT"></ui-gmap-search-box>
    <ui-gmap-marker ng-repeat="p in namePlace" coords="p.coords" options="marker.options" events="marker.events" idkey="p.id"></ui-gmap-marker>
  </ui-gmap-google-map>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">My Locations</div>
    <div class="panel-body">
      <div class="myMapRow" ng-repeat="placeObject in namePlace" data-id="{{placeObject.id}}">
        <div class="individualPlace">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQDDyiEXZnYoVgxeFmKFnZkCikHHUbeGaaU5PLR2fSlAWwnGcbNcw" alt="">
          <h2>{{placeObject.name}}</h2><a><button class="delete" ng-model="myMap" ng-click="deleteLocation(namePlace.id)" ng-controller="MyMapController"><i class="fa fa-trash-o"></i></button></a>
          <button class="go" ng-click="addLocation(namePlace)">Wanna Go</button>
          <button class="been" ng-click="addMarkerRed(placeObject.name)">Been There</button>
          <a><button class="addToFavorites" ng-model="myMap" ng-click="addToFavorites(id)" ng-controller="FavoritesController"><i class="fa fa-star-o fa-3x"></i></button></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
