<div ng-controller="MyMapController">
<script type="text/ng-template" id="searchbox.tpl.html">
  <input type="text" placeholder="Where do you want to go?" size="50" style="font-size: 16px; margin-top: 10px;">
</script>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="TOP_LEFT"></ui-gmap-search-box>
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
  </ui-gmap-google-map>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">My Locations</div>
    <div class="panel-body">
      <div class="myMapRow" ng-repeat="destination in destinations">
        <div class="individualPlace">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Flag_map_of_Germany.svg" alt="">
          <h2>Germany</h2>
          <button class="go" ng-click="addMarker">Wanna Go</button>
          <button class="been" ng-click="addMarker">Been There</button>
          <a><button class="addToFavorites" ng-model="myMap" ng-click="addToFavorites(location)" ng-controller="FavoritesController"><i class="fa fa-star-o fa-3x"></i></button></a>
        </div>
      </div>
    </div>
  </div>
</div>
