<div ng-controller="FavoritesController">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Favorites</div>
    <div class="panel-body">
        <div class="individualPlace" ng-repeat="favorite in namePlace">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQDDyiEXZnYoVgxeFmKFnZkCikHHUbeGaaU5PLR2fSlAWwnGcbNcw" alt="">
          <h2>{{favorite.name}}</h2>
          <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam...</p></div>
            <!-- <a ng-click="deleteFromFavorites(favorite._id)" ><i class="fa fa-trash-o fa-2x"></i></a> -->
        </div>
    </div>
  </div>
</div>
</div>
