<div ng-controller="DestinationController">
<script type="text/ng-template" id="searchbox.tpl.html">
  <input type="text" placeholder="Where do you want to go?" size="50" style="font-size: 16px; margin-top: 10px;">
</script>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="TOP_LEFT"></ui-gmap-search-box>
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey='marker.id'></ui-gmap-marker>
  </ui-gmap-google-map>
</div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Enter a Destination</div>
    <div class="panel-body">
      <div class="myMapRow">
        <div class="individualPlaceDest">
          <a class="addToFavorites" ng-model="myMap" ng-click="addToFavorites(location)" ng-controller="FavoritesController"><i class="fa fa-star-o fa-3x"></i></a>
          <h2>Germany</h2>
          <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam...</p></div>
        </div>
        <!-- <div class="flightInfo" ng-repeat="flight in flights"  data-id="{{flight.id}}"> -->
          <h2>Let's Go!</h2>
          <div class="row">
            <input type="text" class="startAirport" placeholder="Origin">
            <input type="text" class="endAirport" placeholder="Destination">
            <input type="text" class="date" placeholder="YYYY-MM-DD">
            <input type="button" class="submit" value="Let's Go!" ng-click="getCheapFlights(flightOptions)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
