<div ng-controller="DestinationController">
<script type="text/ng-template" id="searchbox.tpl.html">
  <input type="text" placeholder="Where do you want to go?" size="50" style="font-size: 16px; margin-top: 10px;">
</script>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="TOP_LEFT"></ui-gmap-search-box>
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey='marker.id'></ui-gmap-marker>
  </ui-gmap-google-map>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Enter a Destination</div>
    <div class="panel-body">
      <div class="myMapRow">
          <form class="form" name="myForm" ng-submit="getCheapFlights(flightOptions)">
            <input type="text" ng-model="flightOptions.startAirport" class="startAirport" placeholder="Origin">
            <input type="text" ng-model="flightOptions.endAirport" class="endAirport" placeholder="Destination">
            <input type="text" ng-model="flightOptions.date" class="date" placeholder="YYYY-MM-DD">
            <input type="text" ng-model="flightOptions.numAdults" class="numAdults" placeholder="How Many?">
            <button class="submit" type="submit">Let's Go!</button>
          </form>
          <div class="myMapRow" ng-repeat="flight in flights" data-id="{{flights.id}}">
            <div class="individualPlace">
              <h2>{{flights.airline}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
